# Shared
MONTELINGO_ENV=development

# PostgreSQL
POSTGRES_DB=montelingo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# API
MONTELINGO_DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/montelingo

# Web
API_INTERNAL_BASE_URL=http://api:8000
